@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Comfortaa";
	src: url("../fonts/Comfortaa/Comfortaa-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Comfortaa";
	src: url("../fonts/Comfortaa/Comfortaa-Bold.woff2") format("woff2");
	font-style: normal;
	font-weight: bold;
}